/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply w-full h-full overflow-clip bg-amber-100;
}

h1 {
    @apply text-4xl;
}
h2 {
    @apply text-2xl font-bold;
}

.label {
    font-size: 0.7rem;
    line-height: 0.9rem;
    @apply pl-1 text-gray-600;
}

input, select, option {
    @apply h-8 rounded;
}


input:read-only {
    background-color: rgba(0, 0, 0, 0);
}
input:disabled, select:disabled {
    background-color: rgba(0, 0, 0, 0);
    @apply border-gray-600;
}
input:enabled:read-write, select:enabled:read-write {
    background-color: white;
    @apply border-green-600;
}

.input > .data {
    @apply px-1 border-b;

}
.input > input.invalid, .input > select.invalid {
    @apply border-red-600;
}

.input > span.invalid {
    font-size: 0.6rem;
    line-height: 0.6rem;
    @apply pl-1 text-red-600;
}




/* For Firefox Browser */
.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #ccc #777;
}


/* For Chrome, EDGE, Opera, Others */
.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #ccc;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #777;
}
