/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply w-full h-full;
}

a {
    @apply font-normal;
}

h1 {
    @apply pt-1 pb-1 text-4xl;
}
h2 {
    @apply pt-4 pb-1 text-2xl font-bold;
}
h3 {
    @apply pt-4 pb-1 text-xl font-bold;
}
h4 {
    @apply pt-2 pb-0.5 text-lg font-bold;
}
h5 {
    @apply pt-2 pb-0.5 text-base font-bold;
}

hr {
    @apply h-0.5 border border-header opacity-50 mx-8 my-2 drop-shadow-lg;
}

p {
    @apply mt-2;
}

:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.label {
    font-size: 0.7rem;
    line-height: 0.9rem;
    @apply pl-1 h-4 text-gray-600 whitespace-nowrap;
}

input, select, option {
    @apply h-6 rounded mb-1;
}

innput:read-only, select:read-only {
    background-color: rgba(0, 0, 0, 0);
}
input:disabled, select:disabled {
    background-color: rgba(1, 0, 0, 0);
    @apply border-gray-600;
}

select:enabled {
    @apply border-gray-600;
    background: white;
}
select.disabled {
    background: rgba(0,0,0,0);
}
input:enabled:read-write, select:enabled:read-write {
    background-color: white;
    @apply border-green-600;
}

.input > .data {
    @apply px-0;

}
.input > input.invalid, .input > select.invalid {
    @apply border-red-600;
}

.input > span.invalid {
    font-size: 0.6rem;
    line-height: 0.6rem;
    @apply pl-1 text-red-600;
}

.circled {
    display: block;
    border-color: #0e5d5a;
    border-radius: 50%;
    border-width: 1px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    font-family: Verdana;
}


/* For Firefox Browser */
.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #ccc #777;
}


/* For Chrome, EDGE, Opera, Others */
.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #ccc;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #777;
}

@media print {
    html body * {
    }

    .print {
        @apply border-0;
    }

    .print, print * {
        visibility: visible;
        overflow: visible;
    }

    .print-break {
        page-break-after:always;
    }
    div {

    }
    .no-print {
        display: none;
    }
}