@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-0 border-teal-300 rounded;
    }
    html, body {
        @apply h-full w-full m-0 p-0 font-rgz;
    }

    a, button, div, h1, h2, h3, h4, img, span {
        @apply rounded;
    }

    a {
        @apply border-0 bg-inherit text-black hover:text-amber-600 px-0.5 cursor-pointer;
    }

    button.inline {
        @apply border-0 bg-inherit text-black hover:text-amber-600 px-0.5 cursor-pointer;
    }

    button {
        @apply rounded bg-amber-500 text-white cursor-pointer px-2 ;
    }
    button:disabled {
        @apply bg-slate-200 text-gray-400 cursor-not-allowed;
    }

    fieldset {
        @apply border border-teal-600 rounded;
    }

    h1 {
        @apply py-2 font-bold text-xl;
    }
    h2 {
        @apply py-2 font-bold text-lg;
    }
    h3 {
        @apply py-1 font-bold text-lg;
    }
    h4 {
        @apply py-1 font-bold text-base;
    }
    hr {
        @apply w-full h-0.5 bg-teal-100 px-2;
    }

    img {
    }

    sup, sub {
        @apply text-[10px];
    }

    @media screen {
        body {
            @apply bg-white text-black;
        }
        .screen-scroll-y { /* only scroll on screen, for content section */
            @apply h-full min-h-0 overflow-y-scroll;
        }
    }

    @media print {
        body {
            @apply bg-white text-black;
        }
    }
}

@layer components {
    .text-neutral {
        @apply text-gray-400;
    }
    .text-header {
        @apply text-slate-50 dark:text-slate-800;
    }
    .bg-header {
        @apply bg-teal-500 dark:bg-teal-100;
    }
    .text-button {
        @apply text-center text-white;
    }


    .breadcrumbs {
        @apply hidden lg:block flex flex-col lg:flex-row gap-x-1;
    }

    .breadcrumbs a:after {
        content: '∗';
    }
    .breadcrumbs a:last-child:after {
        content: '';
    }
    .header {
        @apply w-full bg-teal-200 border text-center;
    }
    .footer {
        @apply w-full mt-4 p-2 border-t-2 border-teal-400 text-center italic;
    }

    .navbar {
        @apply flex flex-col lg:flex-row gap-x-4;
    }

    .title {
        @apply min-h-14;
    }

    .content {
        @apply rounded-t-none;
    }

    .content.list {
        @apply flex flex-col px-16 gap-y-2
    }
    .content.list a:before {
        content: '➢ ';
    }

}

@layer utilities {
    *[title] {
        @apply cursor-help;
    }
}